<h2>What is your primary computer?</h2>
<input type="radio" ng-model="primaryComputer" value="Desktop" ng-change="updateAnswerSelection(primaryComputer)" /><label>Desktop Computer</label><br />
<input type="radio" ng-model="primaryComputer" value="Laptop" ng-change="updateAnswerSelection(primaryComputer)" /><label>Laptop Computer</label><br />
<input type="radio" ng-model="primaryComputer" value="Gaming console" ng-change="updateAnswerSelection(primaryComputer)" /><label>Gaming Console/Television</label><br />
<input type="radio" ng-model="primaryComputer" value="Tablet" ng-change="updateAnswerSelection(primaryComputer)" /><label>Tablet</label><br />
<input type="radio" ng-model="primaryComputer" value="Smartphone" ng-change="updateAnswerSelection(primaryComputer)" /><label>Smartphone</label><br />
<input type="radio" ng-model="primaryComputer" value="Other" ng-change="updateAnswerSelection(primaryComputer)"/><label>Other</label><br />