<h2>How old is your primary computer?</h2>
<input type="radio" ng-model="ComputerAge" value="Within the last year" ng-change="updateAnswerSelection(ComputerAge)" /><label>Within the last year</label><br />
<input type="radio" ng-model="ComputerAge" value="1 year old" ng-change="updateAnswerSelection(ComputerAge)" /><label>1 year old</label><br />
<input type="radio" ng-model="ComputerAge" value="2 years old" ng-change="updateAnswerSelection(ComputerAge)" /><label>2 years old</label><br />
<input type="radio" ng-model="ComputerAge" value="3 years old" ng-change="updateAnswerSelection(ComputerAge)" /><label>3 years old</label><br />
<input type="radio" ng-model="ComputerAge" value="4 years or older" ng-change="updateAnswerSelection(ComputerAge)" /><label>4 years or older</label><br />