<h2>Who uses your computer?</h2>
<input type="radio" ng-model="computerUsers" value="0 Only me" ng-change="updateAnswerSelection(computerUsers)" /><label>0 Only me </label><br />
<input type="radio" ng-model="computerUsers" value="1 Other Person" ng-change="updateAnswerSelection(computerUsers)" /><label>1 Other Person</label><br />
<input type="radio" ng-model="computerUsers" value="2-3 Other people" ng-change="updateAnswerSelection(computerUsers)" /><label>2-3 Other people</label><br />
<input type="radio" ng-model="computerUsers" value="4-5 other people" ng-change="updateAnswerSelection(computerUsers)" /><label>4-5 other people</label><br />
<input type="radio" ng-model="computerUsers" value="public computer - I share with many" ng-change="updateAnswerSelection(computerUsers)" /><label>public computer - I share with many</label><br />
