<h2>What software do you use</h2>
<div class="row">
	<b>EMAIL</b><br />
    <input type="radio" name="email" ng-model="softwareUse_email" value="1" ng-change="updateAnswerMultiSelection(softwareUse_email, 0)" /><label>1 Not comfortable</label><br />
    <input type="radio" name="email" ng-model="softwareUse_email" value="2" ng-change="updateAnswerMultiSelection(softwareUse_email, 0)" /><label>2</label><br />
    <input type="radio" name="email" ng-model="softwareUse_email" value="3" ng-change="updateAnswerMultiSelection(softwareUse_email, 0)" /><label>3</label><br />
    <input type="radio" name="email" ng-model="softwareUse_email" value="4" ng-change="updateAnswerMultiSelection(softwareUse_email, 0)" /><label>4</label><br />
    <input type="radio" name="email" ng-model="softwareUse_email" value="5" ng-change="updateAnswerMultiSelection(softwareUse_email, 0)" /><label>5 Very comfortable</label><br />
</div>

<div class="row">
	<b>Web Browser</b><br />
    <input type="radio" name="web browser" ng-model="softwareUse_web" value="1" ng-change="updateAnswerMultiSelection(softwareUse_web, 1)" /><label>1 Not comfortable</label><br />
    <input type="radio" name="web browser" ng-model="softwareUse_web" value="2" ng-change="updateAnswerMultiSelection(softwareUse_web, 1)" /><label>2</label><br />
    <input type="radio" name="web browser" ng-model="softwareUse_web" value="3" ng-change="updateAnswerMultiSelection(softwareUse_web, 1)" /><label>3</label><br />
    <input type="radio" name="web browser" ng-model="softwareUse_web" value="4" ng-change="updateAnswerMultiSelection(softwareUse_web, 1)" /><label>4</label><br />
    <input type="radio" name="web browser" ng-model="softwareUse_web" value="5" ng-change="updateAnswerMultiSelection(softwareUse_web, 1)" /><label>5 Very comfortable</label><br />
</div>

<div class="row">
	<b>Word Processor</b><br />
    <input type="radio" name="word processor" ng-model="softwareUse_word" value="1" ng-change="updateAnswerMultiSelection(softwareUse_word, 2)" /><label>1 Not comfortable</label><br />
    <input type="radio" name="word processor" ng-model="softwareUse_word" value="2" ng-change="updateAnswerMultiSelection(softwareUse_word, 2)" /><label>2</label><br />
    <input type="radio" name="word processor" ng-model="softwareUse_word" value="3" ng-change="updateAnswerMultiSelection(softwareUse_word, 2)" /><label>3</label><br />
    <input type="radio" name="word processor" ng-model="softwareUse_word" value="4" ng-change="updateAnswerMultiSelection(softwareUse_word, 2)" /><label>4</label><br />
    <input type="radio" name="word processor" ng-model="softwareUse_word" value="5" ng-change="updateAnswerMultiSelection(softwareUse_word, 2)" /><label>5 Very comfortable</label><br />
</div>

<div class="row">
	<b>Spreadsheet</b><br />
    <input type="radio" name="spreadsheet" ng-model="softwareUse_spreadsheet" value="1" ng-change="updateAnswerMultiSelection(softwareUse_spreadsheet, 3)" /><label>1 Not comfortable</label><br />
    <input type="radio" name="spreadsheet" ng-model="softwareUse_spreadsheet" value="2" ng-change="updateAnswerMultiSelection(softwareUse_spreadsheet, 3)" /><label>2</label><br />
    <input type="radio" name="spreadsheet" ng-model="softwareUse_spreadsheet" value="3" ng-change="updateAnswerMultiSelection(softwareUse_spreadsheet, 3)" /><label>3</label><br />
    <input type="radio" name="spreadsheet" ng-model="softwareUse_spreadsheet" value="4" ng-change="updateAnswerMultiSelection(softwareUse_spreadsheet, 3)" /><label>4</label><br />
    <input type="radio" name="spreadsheet" ng-model="softwareUse_spreadsheet" value="5" ng-change="updateAnswerMultiSelection(softwareUse_spreadsheet, 3)" /><label>5 Very comfortable</label><br />
</div>


<div class="row">
	<b>Presentation</b><br />
    <input type="radio" name="presentation" ng-model="softwareUse_presentation" value="1" ng-change="updateAnswerMultiSelection(softwareUse_presentation, 4)" /><label>1 Not comfortable</label><br />
    <input type="radio" name="presentation" ng-model="softwareUse_presentation" value="2" ng-change="updateAnswerMultiSelection(softwareUse_presentation, 4)" /><label>2</label><br />
    <input type="radio" name="presentation" ng-model="softwareUse_presentation" value="3" ng-change="updateAnswerMultiSelection(softwareUse_presentation, 4)" /><label>3</label><br />
    <input type="radio" name="presentation" ng-model="softwareUse_presentation" value="4" ng-change="updateAnswerMultiSelection(softwareUse_presentation, 4)" /><label>4</label><br />
    <input type="radio" name="presentation" ng-model="softwareUse_presentation" value="5" ng-change="updateAnswerMultiSelection(softwareUse_presentation, 4)" /><label>5 Very comfortable</label><br />
</div>

