<h2>How fast can you type?</h2>
<input type="radio" ng-model="fastType" value="0 Very slow (20 words per minute)" ng-change="updateAnswerSelection(fastType)" /><label>0 Very slow (20 words per minute) </label><br />
<input type="radio" ng-model="fastType" value="Slow (30 words per minute)" ng-change="updateAnswerSelection(fastType)" /><label>Slow (30 words per minute)</label><br />
<input type="radio" ng-model="fastType" value="Moderate (40 words per minute)" ng-change="updateAnswerSelection(fastType)" /><label>Moderate (40 words per minute)</label><br />
<input type="radio" ng-model="fastType" value="Fast (50 words per minute)" ng-change="updateAnswerSelection(fastType)" /><label>Fast (50 words per minute)</label><br />
<input type="radio" ng-model="fastType" value="Very fast (60+ words per minute)" ng-change="updateAnswerSelection(fastType)" /><label>Very fast (60+ words per minute)</label><br />
